---
title: Caption Demo
subTitle: Captions
nav: demos
description: Slider with Captions
sort: 6

tags: 
- demo
---
{{#markdown }}
#### Captions
{{/markdown }}

<div id="demoSlider" class="mbslider photo-slide">
	<div class="item"><img title="Photo 1" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img title="Photo 2" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img title="Photo 3" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img title="Photo 4" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img title="Photo 5" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img title="Photo 6" src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
</div>

{{#markdown }}
### Overview

Basic demo that shows how to display captions with mbSlider. Captions are pulled from the title attribute of the image for the slide. Optionally you may add animation classes for caption animation.

Add captions to setup:
```
captions: true,
captionsCustomClass:'animated fadeInUp fadeOutDown' // Optional caption animation
```

### Setup
```
var slider = $('#demoSlider').mbSlider({
  captions: true,
  captionsCustomClass:'animated fadeInUp fadeOutDown'
});

```
{{/markdown }}

