---
title: Destroy Demo
subTitle: Destroy
nav: demos
description: Basic usage demo
sort: 13

tags: 
- demo
---

<div id="demoSlider" class="mbslider">
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
</div>

<p><a href="" id="slider-init">Click me to go to initialize</a><br />
<a href="" id="slider-destroy">Click me to destroy</a></p>
{{#markdown }}

### Setup
```
$(document).ready(function(){
  $('#demoSlider').mbSlider();
});
```
### HTML
```
<div id="demoSlider" class="mbslider">
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random&p={{random 1000000000 10000000000}}"></div>
</div>
```

{{/markdown }}
